<ion-header>
  <ion-navbar [color]="parentData.theme.color">
    <ion-title>{{ parentData.title }}
      <div class="pull-right">
        <ion-icon name="md-trash" 
                  class="deleteTranasction"
                  *ngIf="!parentData.isPristine"
                  (click)="delete(null)"></ion-icon>
      </div>
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <ion-list  *ngIf="transaction">

<!--TODO: Remove hidden attr once other category support is added.-->
    <ion-item *ngIf="transaction.category" [hidden]="true">
      <ion-icon [name]="transaction.category.icon" item-left></ion-icon>
      <ion-select [(ngModel)]= "transaction.category" 
                  (ngModelChange)= "loadAccountabilities()" 
                  item-right>
        <ion-option *ngFor="let category of categories; let i = index;"
                    [selected]="i == selectedCategoryIndex"
                    [value]="category">{{category.title}}</ion-option>
      </ion-select>

    </ion-item>

<!--     
    TODO: Use code commented below to provide other categories support.
    Work on this only after friends and relatives category implementation is completed.
  
  <ion-item *ngIf="transaction.accountability">
      <ion-avatar item-left class="iconSizedAvatar"><img [src]="transaction.accountability.icon"></ion-avatar>
      <ion-select [(ngModel)]="transaction.accountability" item-right>
        <ion-option *ngFor="let accountability of accountabilities; let i = index;"
                    [selected]="i == selectedAccountabilityIndex"
                    [value]="accountability">{{accountability.title}}</ion-option>
      </ion-select>
    </ion-item>
-->
    <ion-item *ngIf="transaction.accountability">
         <ion-avatar item-left class="iconSizedAvatar"><img [src]="transaction.accountability.icon"></ion-avatar>
         <div clear (click)="pickContact();">
            {{transaction.accountability.title}}
         </div>
    </ion-item>

    <ion-item>
         <ion-icon ios="ios-create" md="md-create" item-left></ion-icon>
         <ion-input type="text" placeholder="{{transaction.titlePlaceholder}}" 
                   [(ngModel)]="transaction.title"  ></ion-input>
    </ion-item>

    <ion-item>
        <ion-icon name="logo-usd" item-left></ion-icon>
        <ion-input type="number" placeholder="{{transaction.pricePlaceholder}}" 
                   [(ngModel)]="transaction.price"></ion-input>
    </ion-item>

    <ion-item>
      <ion-icon name="md-calendar" item-left></ion-icon>
      <input class="datepicker"
             [ngModel]="transaction.date | date:'yyyy-MM-dd'" 
             (ngModelChange)="transaction.date = $event" 
             type="date" 
             name="transactionDate"/>
    </ion-item>

  </ion-list>

  <button  id="accountabilityBtn"
           (click)="save();"
           [color]="parentData.theme.color"
           ion-button full
           *ngIf="transaction">Save</button>
</ion-content>