.deleteTranasction {
    margin-left: 20px;
}

ion-item ion-select {
  max-width: 80%;
}

ion-avatar.iconSizedAvatar {
  min-height: 28px !important;
  min-width: 28px !important;
  height: 28px;
  width: 28px;
}

ion-avatar.iconSizedAvatar img {
  height: 100%;
  width: 100%;
}