<ion-header>
  <ion-navbar>
    <ion-title>
      {{ title }}
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <ion-list *ngIf="transaction">

    <ion-item *ngIf="isPristine">
      <ion-label>Category</ion-label>
      <ion-select [(ngModel)]="transaction">
        <ion-option *ngFor="let category of categories;" [value]="category">{{category.title}}</ion-option>
      </ion-select>
    </ion-item>


    <ion-item>
      <ion-avatar item-left><img [src]="transaction.icon"></ion-avatar>
      <ion-note item-right>  {{ transaction.title }} </ion-note>
    </ion-item>

    <ion-item>
        <ion-label fixed>Price</ion-label>
        <ion-input type="number" placeholder="{{transaction.price}}" [(ngModel)]="transaction.price"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Date</ion-label>
      <ion-datetime displayFormat="DD/MMM/YYYY" [(ngModel)]="transactionDate"></ion-datetime>
    </ion-item>

  </ion-list>

  <button id="accountabilityBtn" (click)="save();"> Save </button>

</ion-content>