<ion-header>
  <ion-navbar [color]="parentData.theme.color">
    <ion-title>
      {{ title }}
      <span class="pull-right">{{ totalAmount }}</span>
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

<ion-list>

    <ng-container *ngFor="let item of items; let i = index;">
 
      <button ion-item *ngIf="item.isActive" (click)="loadTransactionPage(item, i)">

            <span class="bold">{{ item.title }}</span>

        <div class="item-note bold" [ngClass]="{'danger': item.price > parentData.thresholdLimit }" item-right>
          {{ item.price.toLocaleString() }} 
        </div>

      </button>
    </ng-container>
  </ion-list>
</ion-content>