<ion-header>
  <ion-navbar>
    <ion-title mode="ios">
      <span >{{ title }}</span>
      <div class="pull-right moreIcon">
        <ion-icon name="md-more" (click)="displayMenu($event)"></ion-icon>
      </div>
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding [ngClass]="{ 'noTransaction': totalAmount == 0 }">

 <ion-list>
    <ng-container *ngFor="let item of items;">
 
      <button ion-item *ngIf="item.price>0" (click)="loadAccountibiltyPage(item)">

        <ion-icon [name]="item.icon" item-left></ion-icon>
           
            {{ item.title }}

        <div class="item-note" item-right>
          {{ item.price.toLocaleString() }} 
        </div>
      </button>

    </ng-container>
  
 </ion-list>
 <img *ngIf="totalAmount === 0 " [src]="addBtnImageUrl">

 <ion-fab center bottom>
    <button ion-fab color="secondary" (click)="loadTransactionPage()">
      <ion-icon name="add"></ion-icon>
    </button>
  </ion-fab>

</ion-content>