<ion-header>
  <ion-navbar>
    <ion-title>
      {{ title }}   <span class="pull-right">{{ totalAmount }}</span>
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

 <ion-list>

    <ng-container *ngFor="let item of items;">
 
      <button ion-item *ngIf="item.isActive" (click)="loadAccountibiltyPage(item)">

        <ion-icon [name]="item.icon" item-left></ion-icon>
           
            {{ item.title }}

        <div class="item-note" item-right>
          {{item.price}} 
        </div>

      </button>

    </ng-container>
  
  </ion-list>


 <ion-fab center bottom>
    <button ion-fab color="secondary" (click)="loadTransactionPage()">
      <ion-icon name="add"></ion-icon>
    </button>
  </ion-fab>

</ion-content>