<ion-header>
  <ion-navbar>
    <ion-title>
      Asset Tracker
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

 <ion-list>

    <ng-container *ngFor="let item of items;">
 
      <button ion-item  (click)="loadAccountibiltyPage()">

        <ion-icon [name]="item.icon" item-left></ion-icon>
           
            {{ item.title }}

        <div class="item-note" item-right>
          {{item.price}} 
        </div>    

      </button>

    </ng-container>
  
  </ion-list>


 <button id="accountabilityBtn" (click)="loadAccountibiltyPage();"> Open Accountability Page </button>

 <ion-fab center bottom>
    <button ion-fab color="secondary" (click)="loadTransactionPage()">
      <ion-icon name="add"></ion-icon>
    </button>
  </ion-fab>

</ion-content>