<ion-header>
  <ion-navbar>
   <!-- 
     TODO: Uncomment once filters are good to go.
     <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    -->
    <ion-title>{{title}} </ion-title>

  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list>

    <ng-container *ngFor="let item of items">
 
      <button *ngIf="selectedItem || (item.subItems && item.subItems.length > 0)"
            ion-item  (click)="loadList($event, item)">

        <ion-icon [name]="item.icon" item-left></ion-icon>
           
            {{(!selectedItem)?item.title:item.description}}

        <div class="item-note" item-right>
          {{item.price}} 
        </div>    

      </button>

    </ng-container>
  
  </ion-list>

  <ion-fab center bottom>
    <button ion-fab color="secondary" (click)="compose()">
      <ion-icon name="add"></ion-icon>
    </button>
  </ion-fab>
</ion-content>