<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Assets </ion-title>

  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list>
    <button ion-item *ngFor="let item of items" (click)="loadList($event, item)">

      <ion-icon [name]="item.icon" item-left></ion-icon>
          {{item.title}}

      <div class="item-note" item-right>
        {{item.price}}
      </div>


    </button>
  </ion-list>


 <div *ngIf="selectedItem" padding>
    <b>{{selectedItem.title}}</b>
  </div>

  <ion-fab center bottom>
    <button ion-fab color="secondary" (click)="compose()">
      <ion-icon name="add"></ion-icon>
    </button>
  </ion-fab>


  
</ion-content>
